* {
    box-sizing: border-box;
    padding: 17px;
    border: 1px solid rgb(160, 36, 36);
}


 main{

    width: 80%;
 }

 em,{

        width: 50%;
        display: inline;
        padding: 2rem;
        margin: 1rem;
 }

 p{

    width: 300px;
 }